@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
     --cor01: #0FB2F2;
     --cor02: #114C59;
     --cor03: #1B8C63;
     --cor04: #8FD99A;
     --cor05: #F2E8D5;

     --fonte01: 'Kanit', sans-serif;;
     --fonte02: 'Shadows Into Light', cursive;
}

* {
     margin: 0px;
     padding: 0px;
}

body, html {
     background-color: var(--cor05);
}

p {
     font-size: 1.4em;
     text-align: center;
     font-family: var(--fonte01);
     padding: 5px;
     line-height: 2em;
     font-weight: 200;
}

h1 {
     text-align: center;
     margin-top: 60px;
     font-family: var(--fonte02);
     font-weight: bold;
     color: var(--cor01);
     text-shadow: 0px -1px 1px #000000;
     text-decoration: underline;
     font-size: 2.1em;

}
#poema > section {
     margin: 50px 0px;
}




#texto > p {
     text-align: justify;
     text-indent: 2em;
     
}

#texto {
     background-image: url(img/cat-gfe6edb132_1920.jpg);
     background-attachment: fixed;
     background-position: center;
}

#texto > p {
     background-color: #00000052;
     color: white;
}


button {
     width: 90%;
     font-size: 1.5em;
     padding: 10px;
     border-radius: 0.5em;
     margin: 50px auto;
     display: block;
     cursor: pointer;
     background-color: var(--cor05);
}

.corX {
     color: var(--cor02);
}

.corY {
     color: var(--cor03);
}

#txt-final > p {
     line-height: 1em;
}
